.wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info {
    h1 {
        color: $azul;
    }
}

.logIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .principal {
        a {
            text-decoration: none;
        }
        .inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .btnLogIn {
            display: flex;
            justify-content: center;
        }
    }
}